<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>Samplephase2</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>routesadd</display-name>
    <servlet-name>routesadd</servlet-name>
    <servlet-class>Servlets.routesadd</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>routesadd</servlet-name>
    <url-pattern>/routesadd</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>flightsadd</display-name>
    <servlet-name>flightsadd</servlet-name>
    <servlet-class>Servlets.flightsadd</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>flightsadd</servlet-name>
    <url-pattern>/flightsadd</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>flightsetup</display-name>
    <servlet-name>flightsetup</servlet-name>
    <servlet-class>Servlets.flightsetup</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>flightsetup</servlet-name>
    <url-pattern>/flightsetup</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>bookingservlet</display-name>
    <servlet-name>bookingservlet</servlet-name>
    <servlet-class>Servlets.bookingservlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>bookingservlet</servlet-name>
    <url-pattern>/bookingserv</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>dayssetup</display-name>
    <servlet-name>dayssetup</servlet-name>
    <servlet-class>Servlets.dayssetup</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>dayssetup</servlet-name>
    <url-pattern>/dayssetup</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>customerserve</display-name>
    <servlet-name>customerserve</servlet-name>
    <servlet-class>Servlets.customerserve</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>customerserve</servlet-name>
    <url-pattern>/customerserve</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>serv1</display-name>
    <servlet-name>serv1</servlet-name>
    <servlet-class>Servlets.serv1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>serv1</servlet-name>
    <url-pattern>/serv1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>final1</display-name>
    <servlet-name>final1</servlet-name>
    <servlet-class>Servlets.final1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>final1</servlet-name>
    <url-pattern>/final1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>loginservlet</display-name>
    <servlet-name>loginservlet</servlet-name>
    <servlet-class>Servlets.loginservlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>loginservlet</servlet-name>
    <url-pattern>/loginservlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>passwordchange</display-name>
    <servlet-name>passwordchange</servlet-name>
    <servlet-class>Servlets.passwordchange</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>passwordchange</servlet-name>
    <url-pattern>/passwordchange</url-pattern>
  </servlet-mapping>
</web-app>